extends ../base

block content 
  main.main.upload-main
    div#preview-container
        video#preview.upload-preview
        div.upload-preview__btn
          i.fas.fa-undo-alt
    form(method="POST",enctype="multipart/form-data").form.upload-form
      div#recordingBtn.recordingBtn
        i.fas.fa-video
      span 비디오 파일
      input(name="videoFile",type="file",accept="video/*",required)
      span 썸네일
      input(name="thumbFile",type="file",accept="image/*",required)
      span 제목
      input(name="title",placeholder="Title",required,type="text")
      span 내용
      input(name="content",placeholder="Description",required,type="text")
      span 해시태그
      input(name="hashtags",placeholder="Hashtags ex) vlog,seoul,busan",required,type="text")
      input(type="submit",value="Upload Video").uploadBtn
block scripts 
  script(src="/assets/js/recorder.js")