extends ../base

block content 
  form(method="POST",enctype="multipart/form-data")
    label(for="videoFile") 비디오 업로드
    input(name="videoFile",id="videoFile",type="file",accept="video/*",required)
    input(name="title",placeholder="Title",required,type="text")
    input(name="content",placeholder="Description",required,type="text")
    input(name="hashtags",placeholder="Hashtags ex) vlog,seoul,busan",required,type="text")
    input(type="submit",value="Upload Video")