mixin video(video)
  div 
    h3
      a(href=`/videos/${video._id}`)=video.title
    p=video.content
    small=video.createdAt
    ul 
      each hashtag in video.hashtags
        li=hashtag
      hr 
