// config
@import "./config/_variables";
@import "./config/reset";

// components
@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/avatar.scss";
@import "./components/form.scss";
@import "./components/video-controls.scss";
@import "./components/comment.scss";
@import "./components/message.scss";
@import "./components/search-video.scss";
@import "./components/sidebar.scss";
// screens
@import "./screens/home.scss";
@import "./screens/watch.scss";
@import "./screens/upload.scss";
@import "./screens/search.scss";
//font
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;400;500;600&family=Playfair+Display:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #181818;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 80px 1fr;
  position: relative;

  .body-main {
    margin-top: 30px;
    padding: 0px 20px;
  }
}
