// config
@import "./config/_variables";
@import "./config/reset";

// components
@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/avatar.scss";
@import "./components/form.scss";
@import "./components/video-controls.scss";

// screens
@import "./screens/home.scss";
@import "./screens/watch.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #181818;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}
