.upload-form {
  align-items: unset;
  span {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .uploadBtn {
    margin: 0 auto;
    background-color: red;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
}
