.watch-main {
  display: grid;
  grid-template-columns: 5vw 12.5fr 5fr 5vw;
}

.watch {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .watch-video {
    position: relative;
    video {
      width: 100%;
      height: 100%;
    }
    .watch-video__icons {
      position: absolute;
      top: 40%;
      left: 45%;
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      opacity: 0;
      transition: opacity 0.5s linear;
      &.fadeOut {
        opacity: 1;
      }
    }
  }

  .watch-data {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 0px;
    border-bottom: 1px solid $line;
    .watch-data__title {
      font-size: 16px;
    }
    .watch-data__meta {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .watch-data__meta-number {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.6);
      }
      .watch-data__meta-icons {
        display: flex;
        align-items: center;
        a:not(.watch-data__meta-icons__list-box__content) {
          i {
            font-size: 14px;
            margin-left: 1.3vw;
          }
          span {
            margin-left: 8px;
            font-size: 14px;
          }
        }
        .watch-data__meta-icons__list {
          position: relative;
          .fas.fa-ellipsis-h {
            margin-left: 0.8vw;
            padding: 10px;
            border-radius: 50%;
            &:hover {
              background-color: #383838;
            }
          }
          .watch-data__meta-icons__list-box {
            position: absolute;
            top: 35px;
            left: 20px;
            width: 130px;
            height: 60px;
            font-size: 14px;
            background-color: #1f1f1f;
            display: none;
            flex-direction: column;
            border-radius: 5px;
            padding: 6px 0px;
            .watch-data__meta-icons__list-box__content {
              height: 50%;
              display: grid;
              grid-template-columns: 1.3fr 4fr;
              cursor: pointer;
              &:hover {
                background-color: #383838;
              }
              align-items: center;
              i {
                justify-self: center;
              }
            }
          }
        }
      }
    }
  }
  .watch-owner {
    padding: 20px 0px;
    border-bottom: 1px solid $line;
    width: 100%;
    .watch-owner__info {
      display: grid;
      grid-template-columns: 50px 1fr 60px;
      align-items: center;
      .watch-owner__info-nickname {
        font-size: 14px;
        span {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .watch-owner__info-btn {
        background-color: red;
        width: 60px;
        height: 30px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }
    .watch-owner__description {
      margin-top: 20px;
      padding-left: 50px;
      font-size: 14px;
    }
  }
  .watch-comment__add {
    width: 100%;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 50px 1fr;
  }
}

.watch-comment__add-form {
  textarea {
    width: 100%;
    padding: 4px 0px;
    background-color: $bg;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    resize: none;
    color: white;
    overflow: hidden;
    &:focus {
      border-bottom: 2px solid white;
    }
  }
  .watch-comment__btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    width: 100%;
    div {
      width: 65px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 13px;
      margin-left: 3px;
      cursor: pointer;
    }
    div:first-child {
      color: rgba(255, 255, 255, 0.7);
    }
    div:last-child {
      color: rgba(255, 255, 255, 0.4);
      background-color: #2b2b2b;
    }
  }
}

.watch-sideBar {
  margin-left: 25px;
  .videoList-mixin {
    display: flex;
    margin-bottom: 10px;
    .videoList-mixin-thumb {
      min-width: 180px;
      height: 100px;
      background-position: center;
      background-size: cover;
      margin-right: 10px;
    }
    .videoList-mixin__data {
      display: flex;
      flex-direction: column;
      .videoList-mixin__data-owner {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
      }
      h3 {
        font-size: 15px;
        margin-top: 5px;
        font-weight: 500;
      }
      span {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 300;
      }
      .videoList-mixin__data-meta {
        font-size: 12px;
      }
    }
  }
}

@keyframes iconsFadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
