.watch-main {
  display: grid;
  grid-template-columns: 5vw 12.5fr 5fr;
}

.watch {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  video {
    width: 100%;
  }
  .watch-data {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $line;
    .watch-data__title {
      font-size: 16px;
    }
    .watch-data__meta {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .watch-data__meta-number {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.6);
      }
      .watch-data__meta-icons {
        i {
          font-size: 14px;
          margin-left: 1.3vw;
        }
        span {
          margin-left: 8px;
          font-size: 14px;
        }
      }
    }
  }
  .watch-owner {
    padding: 20px 0px;
    border-bottom: 1px solid $line;
    width: 100%;
    .watch-owner__info {
      display: grid;
      grid-template-columns: 50px 1fr 60px;
      align-items: center;
      .watch-owner__info-nickname {
        font-size: 14px;
        span {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .watch-owner__info-btn {
        background-color: red;
        width: 60px;
        height: 30px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }
    .watch-owner__description {
      margin-top: 20px;
      padding-left: 50px;
      font-size: 14px;
    }
  }
}
