.header {
  background-color: #212121;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  //padding: 0px 30px 0px 0px;
  margin-bottom: 30px;
  position: absolute;
  top: 0px;
  width: 100%;

  nav {
    height: 60px;
    margin-right: 30px;
  }
  nav ul {
    display: grid;
    height: 100%;
    grid-template-columns: 80px 1fr 3fr 1fr;
    align-items: center;
    .header-list {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #212121;
        &.backOpacity {
          animation-duration: 0.5s;
          animation-name: backOpacity;
          animation-direction: alternate;
        }
      }
    }
    .header-logo {
      display: flex;
      align-items: center;
      position: relative;
      div {
        width: 10px;
        height: 10px;
        background-color: white;
        position: absolute;
        z-index: 0;
        left: 11px;
      }
      i.fab.fa-youtube {
        font-size: 30px;
        color: red;
        z-index: 1;
      }
      span {
        font-size: 20px;
        font-weight: bold;
        margin-left: 3px;
      }
    }
    .header-nav__search {
      width: 100%;
      display: flex;
      justify-content: center;
      input {
        width: 400px;
        height: 30px;
        background-color: #121212;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding-left: 10px;
        color: white;
        &:focus {
          outline: none;
          border: 1px solid rgb(81, 128, 255);
        }
      }

      div {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #383838;
        cursor: pointer;
      }
    }
    .header-nav__options {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 17px;
        padding: 10px;
        border-radius: 50%;
        &:hover {
          background-color: #444444;
        }
      }
      .header-nav__options-profile {
        height: 100%;
        display: flex;
        align-items: center;
        img {
          border-radius: 50%;
        }
      }
      .header-nav__options-login,
      .header-nav__options-join {
        background-color: white;
        padding: 7px 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        font-size: 15px;
        a {
          color: #383838;
          font-weight: 700;
        }
      }
    }
  }
}

@keyframes backOpacity {
  0% {
    background-color: #212121;
    border: 1px solid #212121;
  }
  50% {
    background-color: #444444;
    border: 1px solid #636363;
  }
  100% {
    background-color: #212121;
    border: 1px solid #212121;
  }
}
