.video-mixin {
  position: relative;
  cursor: pointer;
  .video-mixin__thumb {
    width: 100%;
    height: 170px;
    background-color: red;
  }
  .video-mixin__data,
  .hoverVideo__data {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40px 1fr;
    .video-mixin__data-avatar {
      img {
        border-radius: 50%;
      }
    }
    .video-mixin__data-content {
      padding: 0px 10px;
      .video-mixin__data-content__title {
        font-size: 16px;
      }
      .video-mixin__data-content__meta {
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        span {
          margin-top: 3px;
        }
        div {
          margin-top: 3px;
        }
      }
    }
  }
  .hoverVideo {
    display: none;
    z-index: 3;
    position: absolute;
    top: -10px;
    left: -20px;
    background-color: #242424;
    padding-bottom: 15px;

    video {
      width: 340px;
    }
    .hoverVideo__data {
      width: 95%;
      margin: 0 auto;
      margin-top: 10px;
    }

    .hoverVideo-Btn {
      width: 95%;
      margin: 0 auto;
      margin-top: 20px;
      div {
        width: 100%;
        height: 35px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.9);
        background-color: #565656;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 3px;
      }
    }
  }
}
.video-mixin__thumb {
  background-size: cover;
  background-position: center;
}
