extends base

block content 
  form(method="POST")
    input(name="title",placeholder="Title",required,type="text")
    input(name="content",placeholder="Description",required,type="text")
    input(name="hashtags",placeholder="Hashtags ex) vlog,seoul,busan",required,type="text")
    input(type="submit",value="Upload Video")