header 
  h2 #{pageTitle}
  nav 
    ul 
      li 
        a(href="/") Home 
      if loggedIn
        li  
          a(href="/videos/upload") Upload
        li
          a(href=`/users/${loggedInUser._id}`) Profile
        li 
          a(href="/logout") Logout
        
      if !loggedIn 
        li 
          a(href="/login") Login 
        li 
          a(href="/join") Join