header.header 
  nav
    ul 
      li 
        a(href="/").header-logo 
          i.fab.fa-youtube
          span YOUTUBE
      div.header-nav__search
        input(type="text",name="keyword",placeholder="검색")
        div 
          i.fas.fa-search
      div.header-nav__options
        li  
          a(href="/videos/upload")
            i.fas.fa-video
        li 
          i.far.fa-bell
        li 
          a(href="/search")
            i.fas.fa-search
        if loggedIn
          li 
            a(href="/logout")
              i.fas.fa-sign-out-alt
          li
            a(href=`/users/${loggedInUser._id}`).header-nav__options-profile
              if !loggedInUser.avatarUrl.startsWith("h")
                img(src="/"+`${loggedInUser.avatarUrl}`).avatarImg
              else
                img(src=loggedInUser.avatarUrl).avatarImg
        else 
          li.header-nav__options-login
            a(href="/login") Login 
          li.header-nav__options-join
            a(href="/join") Join
        
      
      
      