extends ../base 

block content
  main.main
    form(method="POST").upload-form.form
      input(type="password",placeholder="Now password",name="nowPassword",required)
      input(type="password",placeholder="New password",name="newPassword",required)
      input(type="password",placeholder="Check new password",name="newPassword2",required)
      input(type="submit",value="Changed Password").form-submit