extends ../base 
include ../mixins/video

block content 
  h3 Name #{user.name}
  h3 Email #{user.email}
  hr 
  a(href=`/users/${loggedInUser._id}/edit`) Edit Profile &rarr;
  br
  a(href=`/users/${loggedInUser._id}/edit-password`) Changed Password &rarr;